#root {
	h3 {
	    line-height: 4;
	    margin: 0px;
		text-align: center;
		color: white;
		&.h3-black {
			color: black;
		}
	}
	.App {
	  text-align: left;
	}
	.parallax {
		min-height: 500px;
		padding: 2rem 0rem;
	}
	.second-image,
	.third-image,
	.fourth-image,
	.fifth-image {
		background-image: url("./img/Hopkins-photo.jpg");
		min-height: 550px;
		background-attachment: fixed;
		background-position: center 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.third-image {
		background-image: url("./img/285473.jpg");
	}
	.fourth-image {
		background-image: url("./img/NY_public_library2.jpg");
	}
	.fifth-image {
		background-image: url("./img/17334502.jpg");
	}
	.loader-overlay {
		background-color: rgba(255, 255, 255, .95);
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 1;
	}
}
	.modal-time-is-out {
		max-width: 510px;
		margin-top: 10%;
		.btn-primary {
			margin: 0 auto;
			width: 100%;
		}
	}
