.confirmation-form {
	margin-top: 30px;
	.btn-success {
		margin-bottom: 15px;
		&.go-back {
			margin-left: 1%;
		}
	}
	.margin-left {
		margin-left: 6px;
		display: inline-block;
		min-width: 13%;
		width: 70%;

		.div-book {
			display: inline-block;
			.book-cover-img {
				margin-right: 10px;
			}
			.book-title {
				display: none;
			}
			&:hover {
				.book-title {
					display: inline-block;
					position: absolute;
				    margin-left: -7%;
				    margin-top: -1.5%;
				}
			}
		}
	}
}
