.confirmation-form {
	margin-top: 30px;
	.btn-success {
		margin-bottom: 15px;
		&.go-back {
			margin-left: 1%;
		}
	}
	.margin-left {
		margin-left: 6px;
		display: inline-block;
		min-width: 13%;
		width: 70%;

		.div-book {
			display: inline-block;
			.book-cover-img {
				margin-right: 10px;
			}
			.book-title {
				display: none;
			}
			&:hover {
				.book-title {
					display: inline-block;
					position: absolute;
					margin-left: 0%;
					margin-top: -3.5%;
					background-color: #fff;
					text-align: center;
					border: 1px solid #fff;
					padding: 10px;
					border-radius: 3px;
					box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
					font-weight: 500;
				}
			}
		}
	}
}
